.fav-empty-des{
 text-align: center;
 font-family: sans-serif;
 width: 400px;
 margin: 100px auto;
 background:linear-gradient(to bottom right , white , rgb(218, 216, 216));
 padding: 30px;
 border-radius: 7px;
 box-shadow: 0px 0px 10px;
 
}
.fav-empty-des h2{
  margin-bottom: 20px;
  color: red;
}
.fav-empty-des p{
  color: hsl(0, 0%, 30%);
}

@media (max-width:500px){
  .fav-empty-des{
    width: 300px;
    padding: 20px;
  }
}
