.food-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.loading{
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  margin-top: 30px;
}

.error{
  text-align: center;
  font-size: 1.2em;
  font-family: sans-serif;
  margin-top: 30px;
}
.error-dog-img{
  max-width: 500px;
  img{
    width: 100%;
  }
}

.error-text h1{
  margin: 10px 10px;
  
}

@media (max-width:500px){
  .error{
    font-size: 1em;
  }
}